:root {
  --color-ink-base: #0e0f0f;
  --color-ink-light: #292c2e;
  --color-ink-lighter: #464a4d;
  --color-ink-lightest: #7a7e80;

  --color-sky-dark: #b4b6b8;
  --color-sky-base: #cdcfd0;
  --color-sky-light: #e3e5e6;
  --color-sky-lighter: #f2f4f5;
  --color-sky-lightest: #f7f9fa;

  --color-primary-dark: #e05507;
  --color-primary-base: #f36c21;
  --color-primary-light: #ff955a;
  --color-primary-lighter: #ffc09d;
  --color-primary-lightest: #ffe4d6;

  --color-red-dark: #f73b2f;
  --color-red-base: #ff5247;
  --color-red-light: #ff6d6d;
  --color-red-lighter: #ff9898;
  --color-red-lightest: #ffcaca;

  --color-green-dark: #00a86b;
  --color-green-base: #23c16b;
  --color-green-light: #4cd571;
  --color-green-lighter: #7dde86;
  --color-green-lightest: #e3fada;

  --color-yellow-dark: #f6a500;
  --color-yellow-base: #ffb323;
  --color-yellow-light: #ffc462;
  --color-yellow-lighter: #ffd188;
  --color-yellow-lightest: #ffefd7;

  --color-blue-dark: #2489f4;
  --color-blue-base: #48a7f8;
  --color-blue-light: #6ec2fb;
  --color-blue-lighter: #9bdcfd;
  --color-blue-lightest: #c9f0ff;
  --color-blue-white: #edf6ff;
}
