:root {
	--width-aside: 300px;

	// По умолчанию 1920px
	--height-header: 104px;

	@include laptop {
		// 1600px и меньше
		--height-header: 136px;
		--width-aside: 280px;
	}

	@include smallScreen  {
		// 1366px и меньше
		--height-header: 184px;
	}

	@include bigMobile {
		// 960px и меньше
		--height-header: 64px;
	}
}
