body {
	font-family: "Inter", sans-serif;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $color-text;
	max-width: 100vw;

	@include scrollbarStyle(8px);

	background-color: $color-bg-grey-lightest;

	> * {
		width: 100%;
		margin: 0 auto;
	}
}