:root {
	--color-ink-base: #0E0F0F;
	--color-ink-light: #292C2E;
	--color-ink-lighter: #464A4D;
	--color-ink-lightest: #7A7E80;

	--color-sky-dark: #B4B6B8;
	--color-sky-base: #CDCFD0;
	--color-sky-light: #E3E5E6;
	--color-sky-lighter: #F2F4F5;
	--color-sky-lightest: #F7F9FA;

	--color-primary-dark: #E05507;
	--color-primary-base: #F36C21;
	--color-primary-light: #FF955A;
	--color-primary-lighter: #FFC09D;
	--color-primary-lightest: #FFE4D6;

	--color-red-dark: #F73B2F;
	--color-red-base: #FF5247;
	--color-red-light: #FF6D6D;
	--color-red-lighter: #FF9898;
	--color-red-lightest: #FFCACA;

	--color-green-dark: #00A86B;
	--color-green-base: #23C16B;
	--color-green-light: #4CD571;
	--color-green-lighter: #7DDE86;
	--color-green-lightest: #E3FADA;

	--color-yellow-dark: #F6A500;
	--color-yellow-base: #FFB323;
	--color-yellow-light: #FFC462;
	--color-yellow-lighter: #FFD188;
	--color-yellow-lightest: #FFEFD7;

	--color-blue-dark: #2489F4;
	--color-blue-base: #48A7F8;
	--color-blue-light: #6EC2FB;
	--color-blue-lighter: #9BDCFD;
	--color-blue-lightest: #C9F0FF;
	--color-blue-white: #edf6ff;
}
