@mixin without-animation() {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

///width: #{$smScreenWidth}
@mixin laptop {
  @media (max-width: $laptop-width) {
    @content;
  }
}

///width: #{$smScreenWidth}
@mixin smallScreen {
  @media (max-width: $screen-sm-width) {
    @content;
  }
}

///width: #{$smallestScreenWidth}
@mixin smallestScreen {
  @media (max-width: $screen-smallest-width) {
    @content;
  }
}

///width: #{$bigMobileWidth}
@mixin bigMobile {
  @media (max-width: $mobile-big-width) {
    @content;
  }
}

/// #{$mobile-width}
@mixin mobile() {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin min-scale-150() {
  @media (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin font($font-size: 16, $line-height: 22, $weight: 400) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
  font-weight: $weight;
}

@mixin flex-container(
  $direction: row,
  $spacing: space-between,
  $alignment: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}

///Helpers
@mixin scrollbarStyle(
  $width: 5px,
  $scrollBarColor: gray,
  $scrollBarTrackColor: lightgray
) {
  $scrollBarColor: $scrollBarColor;
  $scrollBarTrackColor: $scrollBarTrackColor;

  scrollbar-color: $scrollBarColor transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
  &::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
    background-color: transparent;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #999;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $scrollBarTrackColor;
  }
  &::-webkit-scrollbar-thumb {
    height: 24px;
    background-color: $scrollBarColor;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $scrollBarColor;
  }
  &::-webkit-resizer {
    background-color: $scrollBarColor;
  }
}

@mixin setAbs($top: 0, $left: 0, $right: 0, $bottom: 0) {
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin fixedHW($height, $width: null) {
  @if ($width == null) {
    $width: $height;
  }
  min-height: $height;
  min-width: $width;
  max-height: $height;
  max-width: $width;
  height: $height;
  width: $width;
}

@mixin lineClamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/// $product-gallery-margin горизонтальный отступ между карточками: --row-gap перменная
@mixin set-item-count-in-row($count) {
  width: Calc((100% - #{($count - 1)} * #{--row-gap}) / #{$count});
}
